{% extends "layoutCPS-OFF.html" %}
{% block header %}
    {% include "../../includes/banner-OFF-V6.html" %}
{% endblock %}
{% block beforeContent %}
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
    {% include "../../includes/off-system-MVP/modalConfirmation-Egress.html" %}    
{% endblock %}
{% block content %}

{% set egressSearchAction = '/version-18/lcc/materials/04A-egress-files' if connectionJourney == 'materials' else '10-egress-files' %}
{% set egressConnectAction = '/version-18/lcc/materials/04A-egress-files-connected' if connectionJourney == 'materials' else '/version-18/lcc/register-case/10-egress-files-connected' %}
{% set egressAlreadyConnectedLabel = 'Connected to Bluealley 82AA1234525' if connectionJourney == 'materials' else 'Connected to another case' %}
{% set egressSearchTerm = data['searchOFF_EGRESS_VALUE'] or data['connectionCaseSearchTerm'] or data['searchOFF_Operation_VALUE'] or data['searchOFF_Defendant_VALUE'] or data['searchOFF_URN_VALUE'] or data['operationName'] or '' %}
{% set egressCaseUrn = data['caseUrn'] or (data['URN1'] ~ data['URN2'] ~ data['URN3'] ~ data['URN4'] if data['URN1'] else '87AA6543226') %}
{% set isUrnConnectionSearch = connectionJourney == 'materials' and data['connectionSearchType'] == 'urn' %}
{% set egressExactMatchName = egressSearchTerm if isUrnConnectionSearch else egressSearchTerm ~ ' ' ~ egressCaseUrn %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            {% if data['createCaseStarted'] == 'true' %}
                <h1 class="govuk-heading-l">Connect Egress to this case</h1>
            {% else %}
                <h1 class="govuk-heading-l">Connect Egress to this case</h1>
            {% endif %}

            <!-- <div class="govuk-inset-text">
                Search for the Egress case you want to link.
            </div>
 -->
            <form method="get" action="{{ egressSearchAction }}" class="confirm_egress_search">
                <fieldset>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="searchOFF_EGRESS_VALUE">Search</label>
                        <input class="govuk-input govuk-!-width-one-half" id="searchOFF_EGRESS_VALUE" name="searchOFF_EGRESS_VALUE" type="text" value="{{ egressSearchTerm }}" />
                        <button type="submit" class="govuk-button govuk-!-margin-bottom-0" style="margin-left: 10px;">Search</button>
                    </div>
                    <p class="search_headline">
                        {% if isUrnConnectionSearch %}
                        <span class="line_1">1 case found for <strong>{{ egressSearchTerm }}</strong></span>
                        <span class="line_2">There is <strong>1 case</strong> available to connect on Egress.</span>
                        {% else %}
                        <span class="line_1">4 cases found for <strong>{{ egressSearchTerm }}</strong></span>
                        <span class="line_2">There are <strong>20 folders</strong> on Egress.</span>
                        {% endif %}
                    </p>
                </fieldset> 
            </form>

            <table class="govuk-table" id="egress-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-text-align-left sorttable_nosort" width="10%"></th>
                        <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button" type="button">Name</button></th>
                        <th scope="col" class="govuk-table__header"><button class="govuk-button" data-module="govuk-button" type="button">Status</button></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    {% if isUrnConnectionSearch %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}">
                                <input name="egress_file_link" type="hidden" value="{{ egressExactMatchName }}">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>
                        </td>
                        <td class="govuk-table__cell">{{ egressExactMatchName }}</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                    </tr>
                    {% else %}

                    <!-- CASE 1 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_1" name="egress_file_link" type="text" value="Barbarossa 12AB3456724" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Barbarossa 12AB3456724</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 1 - END --> 

                    <!-- CASE 2 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_2" name="egress_file_link" type="text" value="Beastmaster 45CD9081123" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Beastmaster 45CD9081123</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 2 - END --> 

 

                    <!-- CASE 4 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Chopper Harris 31EF7720425</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 4 - END --> 

                    <!-- CASE 5 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_5" name="egress_file_link" type="text" value="Crescent Wind 09GH1846522" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Crescent Wind 09GH1846522</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 5 - END --> 

                    <!-- CASE 6 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Desert Storm 66JK4309824</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 6 - END --> 

                    <!-- CASE 7 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_7" name="egress_file_link" type="text" value="Enduring Freedom 18LM5593023" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Enduring Freedom 18LM5593023</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 7 - END --> 

                    <!-- CASE 8 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Enduring Peace 73NP8147725</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 8 - END --> 

                    <!-- CASE 9 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_9" name="egress_file_link" type="text" value="Game of Thrones 24QR6901322" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Game of Thrones 24QR6901322</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 9 - END --> 

                    <!-- CASE 10 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_10" name="egress_file_link" type="text" value="Groundhog day 57ST2364824" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Groundhog day 57ST2364824</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 10 - END --> 

                    <!-- CASE 11 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_11" name="egress_file_link" type="text" value="Mincemeat 82UV1055923" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Mincemeat 82UV1055923</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 11 - END --> 

                    <!-- CASE 1 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_12" name="egress_file_link" type="text" value="Overlord 39WX7482125" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Overlord 39WX7482125</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 12 - END --> 

                    <!-- CASE 13 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Red Dawn 14YZ5028624</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 13 - END --> 

                    <!-- CASE 14 - START --> 
                    <tr class="govuk-table__row"> 
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_14" name="egress_file_link" type="text" value="{{ egressExactMatchName }}" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            {{ egressExactMatchName }}
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                    </tr>
                    <!-- CASE 14 - END --> 

                    <!-- CASE 15 - START --> 
                    <tr class="govuk-table__row"> 
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            {% if data['createCaseStarted'] == 'true' %}
                                <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_15" name="egress_file_link" type="text" value="{{ egressSearchTerm }} office 55AA1189023" style="display: none;">
                                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                                </form>
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {{ egressSearchTerm }} office 55AA1189023
                        </td>
                        {% if data['createCaseStarted'] == 'true' %}
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        {% else %}
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        {% endif %}
                    </tr>
                    <!-- CASE 15 - END --> 

                    <!-- CASE 16 - START --> 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            {% if data['createCaseStarted'] == 'true' or data['offCMS_Egress_files'] != 'Yes' %}
                                <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_16" name="egress_file_link" type="text" value="{{ egressSearchTerm }} traffic 68BB3374522" style="display: none;">
                                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                                </form>
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {{ egressSearchTerm }} traffic 68BB3374522
                        </td>
                        {% if data['createCaseStarted'] == 'true' %}
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        {% else %}
                            {% if data['offCMS_Egress_files'] == 'Yes' %}
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                            {% else %}
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <!-- CASE 16 - END --> 

                    <!-- CASE 3 - START --> 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            {% if data['offCMS_Egress_files_V2'] != 'Yes' %}
                                <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_3" name="egress_file_link" type="text" value="Captain {{ egressSearchTerm }} 27CC9067321" style="display: none;">
                                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                                </form>
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            Captain {{ egressSearchTerm }} 27CC9067321
                        </td> 
                        {% if data['offCMS_Egress_files_V2'] == 'Yes' %}
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        {% else %}
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        {% endif %}
                    </tr>
                    <!-- CASE 3 - END -->

                    <!-- CASE 17 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Top Gun 61DD4835125</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 17 - END --> 

                    <!-- CASE 18 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left"></td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Urgent Fury 33EE7201424</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">{{ egressAlreadyConnectedLabel }}</strong></td>
                        
                    </tr>
                    <!-- CASE 18 - END --> 

                    <!-- CASE 19 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_19" name="egress_file_link" type="text" value="Vittles 78FF2196622" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Vittles 78FF2196622</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 19 - END --> 

                    <!-- CASE 20 - START --> 
                    <tr class="govuk-table__row hidden_row">
                        <td class="govuk-table__cell govuk-!-text-align-left">
                            <form method="post" action="{{ egressConnectAction }}" id="">
                                <input id="egress_file_link_20" name="egress_file_link" type="text" value="Wrath of God 05GG8841023" style="display: none;">
                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: none;">Connect</button>
                            </form>                            
                        </td>
                        <td class="govuk-table__cell">
                            <!--<span class="icon-new folder"></span>-->
                            <span class="operation_name">Wrath of God 05GG8841023</span>
                        </td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Available to connect</strong></td>
                        
                    </tr>
                    <!-- CASE 20 - END --> 

                    {% endif %}

                </tbody>
            </table>

            <script>
                window.addEventListener('load', function () {
                    var egressTable = document.getElementById('egress-table');
                    if (egressTable && typeof SortableTable !== 'undefined') {
                        new SortableTable(egressTable);
                    }
                });
            </script>

        </div>
    </div>

</div>

{% endblock %}
